<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"> 

  <link rel="stylesheet" href="/stylesheets/style.css">
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascripts/global.js"></script>


</head>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Travel Agency</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>

  </nav>
</div>

<div class="leftDiv">
  <div class="formContainer">
    <form>

      <div class="col-sm-7">
        <input type="text" class="form-control mb-2" id="firstname" placeholder="firstname" name="firstname">
      </div>
      <div class="col-sm-7">
        <input type="text" class="form-control mb-2" id="lastname" placeholder="lastname" name="lastname">
      </div>
      <div class="col-sm-7">
        <input type="number" class="form-control mb-2" id="age" placeholder="age" name="age">
      </div>
      <div class="col-sm-7">
        <input type="text" class="form-control mb-2" id="gender" placeholder="gender" name="gender">
      </div>
      <div class="col-sm-7">
        <input type="text" class="form-control mb-2" id="dob" placeholder="dob" name="dob">
      </div>
      <div class="col-sm-7">
        <input type="number" class="form-control mb-2" id="ssn" placeholder="ssn" name="ssn">
      </div>
      <div class="col-sm-7">
        <input type="email" class="form-control mb-2" id="email" placeholder="email" name="email">
      </div>
      <div class="col-sm-7">
        <input type="password" class="form-control mb-2" id="password" placeholder="password" name="password">
      </div>



      <div class="col-auto">
        <button id="signUpBtn" type="submit" class="btn btn-primary mb-2"> Sign Up</button>
      </div>
    </form>
  </div>
</div>

<div class="rightDiv">
  <div class="formContainer2">
    <form action="./" method="post" class="form-inline">

      <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" id="logInUsername" placeholder="Username">
      </div>

      <label class="sr-only" for="inputPassword4">Password</label>
      <input type="password" class="form-control mb-2 mr-sm-2" id="logInPswd" placeholder="Password">

      <div class="form-check mb-2 mr-sm-2">
        <input class="form-check-input" type="checkbox" id="inlineFormCheck">
        <label class="form-check-label" for="inlineFormCheck">
          Remember me
        </label>
      </div>

      <button type="submit" onclick="onLogInClick()" class="btn btn-primary mb-2">Log In</button>
    </form>
  </div>
</div>

<h1>{{title}}</h1>