<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link rel = "stylesheet"
    type = "text/css"
    href = "stylesheets/user.css" /> 

    <script src="/javascripts/userJS.js"></script>

  
</head>
<body>


{{!--      Trip Info Form      --}}


 <div class="TripInfoForm">

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        Source
      </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <div class="card-body">
       <div class="input-group">
          <input type="text"  class="form-control mb-2" id="srcCntry" placeholder="Country" name="country">
          <input type="text" class="form-control mb-2" id="srcSt" placeholder="State" name="state">
          <input type="text" class="form-control mb-2" id="srcCty" placeholder="City" name="city">
          <input type="text" class="form-control mb-2" id="srcTime" placeholder="Depart Time" name="departTime">
          <input type="text" class="form-control mb-2" id="srcDate" placeholder="Depart Date" name="departDate">
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        Destination
      </a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div class="card-body">
       <div class="input-group">
          <input type="text" class="form-control mb-2" id="destCntry" placeholder="Country" name="country">
          <input type="text" class="form-control mb-2" id="destSt" placeholder="State" name="state">
          <input type="text" class="form-control mb-2" id="destCty" placeholder="City" name="city">
          <input type="text" class="form-control mb-2" id="destTime" placeholder="Depart Time" name="departTime">
          <input type="text" class="form-control mb-2" id="destDate" placeholder="Depart Date" name="departDate">
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
        Group
      </a>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
      <div class="card-body">
          <input type="text" class="form-control mb-2" id="grpPurpose" placeholder="Purpose" name="purpose">
          <input type="text" class="form-control mb-2" id="grpSize" placeholder="Size" name="size">
          <input type="text" class="form-control mb-2" id="grpAct" placeholder="Activity" name="activity">
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
        Flight
      </a>
    </div>
    <div id="collapseFour" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <input type="text" class="form-control mb-2" id="flightTKT" placeholder="Flight Ticket #" name="flightTicketNumber">
        <input type="text" class="form-control mb-2" id="flightPrice" placeholder="Flight Price" name="flightPrice">
        <input type="text" class="form-control mb-2" id="flightNumber" placeholder="Flight Number" name="flightNumber">
        <input type="text" class="form-control mb-2" id="flightClass" placeholder="Flight Class" name="flightClass">
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
        Bus
      </a>
    </div>
    <div id="collapseFive" class="collapse" data-parent="#accordion">
      <div class="card-body">
         <input type="text" class="form-control mb-2" id="busTKT" placeholder="Bus Ticket #" name="busTicketNumber">
         <input type="text" class="form-control mb-2" id="busPrice" placeholder="Bus Price" name="busPrice">
      </div>
    </div>
  </div>

   <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
        Cruise
      </a>
    </div>
    <div id="collapseSix" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <input type="text" class="form-control mb-2" id="cruiseTKT" placeholder="Cruise Ticket #" name="cruiseTicketNumber">
        <input type="text" class="form-control mb-2" id="cruisePrice" placeholder="Cruise Price" name="cruisePrice">
        <input type="text" class="form-control mb-2" id="cruiseNumber" placeholder="Cruise Number" name="cruiseNumber">
        <input type="text" class="form-control mb-2" id="cruiseClass" placeholder="Cruise Class" name="cruiseTicketNumber">
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
        Car
      </a>
    </div>
    <div id="collapseSeven" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <input type="text" class="form-control mb-2" id="carVIN" placeholder="Car VIN #" name="carVin">
        <input type="text" class="form-control mb-2" id="carPrice" placeholder="Car Price" name="carPrice">
                <input type="text" class="form-control mb-2" id="carType" placeholder="Eg. Sedan, Van, SUV" name="carType">

        </div>
      </div>
    </div>
  

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseEight">
        Accommodation
      </a>
    </div>
    <div id="collapseEight" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <input type="text" class="form-control mb-2" id="placeName" placeholder="Place Name" name="placeName">
        <input type="text" class="form-control mb-2" id="disc" placeholder="Discount" name="disc">
        <input type="text" class="form-control mb-2" id="rate" placeholder="Rate" name="rate">
        <input type="text" class="form-control mb-2" id="accType" placeholder="Accommodation Type" name="accType">
        </div>
      </div>
    </div>

  <div class="card">
    <div class="card-header">
    <button id="signUpBtn" type="submit" class="btn btn-primary mb-2"> Add Trip</button>  
    </div>
</div>



{{!--      Payment Form      --}}

<div class="PaymentInfoForm">

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapsePayment">
        Payment Info
      </a>
    </div>
    <div id="collapsePayment" class="collapse show" data-parent="#accordion">
      <div class="card-body">
       <div class="input-group">
          <input type="text"  class="form-control mb-2" id="srcCntry" placeholder="Credit Card Number" name="Ex. 4111 1111 1111 1111 ">
          <input type="text"  class="form-control mb-2" id="srcCntry" placeholder="Security Number" name="Ex. 436 ">
          <input type="text"  class="form-control mb-2" id="srcCntry" placeholder="Expiration Date" name="Ex. 2020-1-25">
        </div>
      </div>
    </div>
  </div>
   
     <div class="card">
    <div class="card-header">
    <button id="payBtn" type="Pay" class="btn btn-primary mb-2"> Pay</button>  
    </div>

</div>

