body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.formContainer {
  margin-top: 2%;
}

.formContainer2 {
  margin-top: 2%;
  margin-left: 7%;
}

.greetingContainer {
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
  height: 120px;
}

.boardContainer {
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 570px;
  background-color: #ffff99;
  height: 320px;

}

p {
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
}

.leftDiv {
  float: left;
  width: 50%;
  height: 500px;
  /* background-color: #ff4d4d; */
}

.rightDiv {
  float: right;
  width: 50%;
  height: 500px;
  /* background-color: #80aaff; */
}

.footer {
  background-color: #80ff80;

}