body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/plane.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-color: #00566c;
 }


/* Start off online log in box */
 .loginBox
 {
   position: fixed;
   top: 50%;
   left: 25%;
   transform: translate(-50%,-50%);
   width: 350px;
   height: 420px;
   padding: 80px 40px;
   box-sizing: border-box;
   background: rgba(0,0,0,.5);
 }

 .loginBox h2
 {
   font-weight: bold;
   color: #fff;
 }

 .loginBox p
 {
   margin: 0;
   padding: 0;
   font-weight: bold;
   color: #fff;
 }
 .loginBox input
 {
   width: 100%;
   margin-bottom: 20px;
 }
 .loginBox input[type="text"],
 .loginBox input[type="password"]
 {
   border: none;
   border-bottom: 1px solid #fff;
   background: transparent;
   outline: none;
   height: 40px;
   color: #fff;
   font-size: 16px;
 }
 ::placeholder
 {
   color: rgba(255,255,255,.5);
 }
 .loginBox input[type="submit"]
 {
   border: none;
   outline: none;
   height: 40px;
   color: #fff;
   font-size: 16px;
   background: #ff267e;
   cursor: pointer;
   border-radius: 20px;
 }
 .loginBox input[type="submit"]:hover
 {
   background: #efed40;
   color: #262626;
 }
 .loginBox a
 {
   color: #fff;
   font-size: 14px;
   font-weight: bold;
   text-decoration: none;
 }

/* End of online log in box */


/* Start of online Sign In box */
.SignUpBox
{
  position: fixed;
  top: 50%;
  right: 25%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 420px;
  padding: 80px 40px;
  box-sizing: border-box;
  background: rgba(0,0,0,.5);
}

.SignUpBox h2
{
  font-weight: bold;
  color: #fff;
}

.SignUpBox p
{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
}
.SignUpBox input
{
  width: 100%;
  margin-bottom: 20px;
}
.SignUpBox input[type="text"],
.SignUpBox input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.SignUpBox input[type="confirm password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

::placeholder
{
  color: rgba(255,255,255,.5);
}
.SignUpBox input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background: #ff267e;
  cursor: pointer;
  border-radius: 20px;
}
.SignUpBox input[type="submit"]:hover
{
  background: #efed40;
  color: #262626;
}
.SignUpBox a
{
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

/* End of Sign in box */
