
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/plane.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-color: #00566c;
 }


 input[type='checkbox'] {
  display: none;
}


